body {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
  background-color: black;
}

#info {
  color: white;
  position: absolute;
  width: 100%;
  padding: 1em;
  text-align: center;
  z-index: 100;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.first-button {
  margin-right: 25px;
}

/* Button Styling -> https://getcssscan.com/css-buttons-examples */

#controls {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: solid white 1px;
  position: absolute;
  max-width: 20%;
  min-width: 100px;
  padding: 0.7em;
  z-index: 100;
}
#controls h2 {
  padding: 2px, 2px, 2px, 2px;
  margin: 2px;
}
#controls form {
  display: flex;
  flex-direction: column;
}
